<%= render partial: '/home/part/navbar' %>


<div class="row" style="margin-top:30px">
  <div class="col-md-2" style="text-align:center"> <!-- reporter -->
    <div class="reporter_image">
      <img class="reporter_mark" src="/sources/mark.png"> <!-- 공식기자 인증마크 -->
    </div>
    <!-- <img class="" style="width:100px; height:100px; border:5px solid white; margin:auto; border-radius: 50%;" src="/sources/profile.png"> -->

    <h4><%= @post.reporter_name %> | <%= @post.from %></h4>

  </div>



  <div class="col-md-8"> <!-- news -->

    <div> <!-- title -->
      <h1 style="margin-top:0px;"><%= @post.title %></h1>
      <div style="display:inline-block"><%= @post.written_at %></div>
      <div style="display:inline-block; float:right">조회수 , 댓글수 <%= @post.replies.count %>, 재구성%</div>
    </div>


    <br> <br>


    <div> <!-- contents -->
      <div class="row">

        <div class="col-md-4" style="margin:none">
          <div class="article_image" style="background-image:url(<%= @post.img_url %>);"></div>


          <!-- <div class="blowing_input">
            <form>
              <input type="text" name="FirstName" value="Mickey"><br>
              <input type="text" name="LastName" value="Mouse"><br>
              <input type="submit" value="Submit">
            </form>
          </div> -->

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Launch demo modal
          </button>
        </div>




        <!-- Modal:form tag ----------------------------->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="blowing_input">

              <div class="" style="text-align:center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>

              <div class="" style="margin:auto; width:350px; height:250px; margin-top:20px; background-color:white; color:black">
                <form>
                  <input type="text" name="FirstName" value="Mickey"><br>
                  <input type="text" name="LastName" value="Mouse"><br>
                  <input type="submit" value="Submit">
                </form>
              </div>

            </div>
          </div>
        </div>


        <div class="col-md-8" style="background-color:white; color:black; min-height:90vh;">
          <pre style="background:none; border:none; word-break:break-all; overflow:auto; white-space:pre-line;"><%= @post.content %><pre>
        </div>


      </div>
    </div>

  </div>
</div>





<!-- <div class="col-md-12" style="">
    <div class="col-md-2" style="height: 900px; border-right: 1px solid #fff">
        <%= render partial: '/home/part/profile' %>
    </div>
    <div class="col-md-10">
        <%= render partial: '/home/part/content' %>
    </div>
</div> -->
