<%= render partial: '/home/part/nav.html.erb' %>


<div class="row" style="margin-top:100px">

<!-- reporter ------------------------------------------------------------------>
  <div class="col-md-2" style="text-align:center">
    <div class="reporter_image">
      <!-- <img class="reporter_mark" src="/sources/profile-3.png"> 공식기자 인증마크 -->
    </div>
    <h4><%= @post.reporter_name %> | <%= @post.from %></h4>
  </div> <!--col-md-2-->

<!-- NEWS ---------------------------------------------------------------------->
  <div class="col-md-8"> <!-- news -->

<!-- TITLE --------------------------------------------------------------------->
    <div>
      <h1 class="article_title"><%= @post.title %></h1><br>
      <div class="col-md-6 mini_info"><%= @post.written_at %></div>
      <div class="col-md-6 mini_info" style="text-align:right">
        <img src="/sources/icon/icon-view.png" class="mini_icon"> 조회수 &nbsp;<span class="mini_info2"><%= @post.viewcounts.count %></span>&nbsp;
        <img src="/sources/icon/icon-reply.png" class="mini_icon"> 버블 &nbsp;<span class="mini_info2"><%= @post.replies.count %></span>&nbsp;
        <img src="/sources/icon/icon-gdj.png" class="mini_icon"> 껌딱지 &nbsp;<span class="mini_info2"><%= @post.ggum_ddak_ji_percentage %></span>%
      </div>
      <input type="hidden" id="userId" value="2">
    </div>


<!-- CONTENTS ------------------------------------------------------------------>
    <div class="box_contents">
      <div class="row">
        <div class="col-md-7 article_text">
          <p class="post_content"><%= @content.html_safe %></p>
        </div> <!-- col-md-7 (news) -->
        <style>
          .ggum_ddak_ji, .ggum_ddak_ji_in{
            background: #aeaeae;
            color: #fff;
            cursor: pointer;
            transition: all .2s;
          }
          .ggum_ddak_ji:hover, .ggum_ddak_ji_in:hover{
            background: #e9e9e9;
            color: blue;
            font-size: 18px;
          }
          .in{
            display: block !important;
            transition: all .2s;
          }
          .out{
            display: none !important;
            transition: all .2s;
          }
        </style>

        <div class="col-md-5" style="margin:none; padding:20px 30px">
          <!-- article image-->
          <div class="article_image in" style="background-image:url(<%= @post.img_url %>);" status="in"></div>

          <% @post.replies.reorder("like_count desc").each do |reply| %>
            <% if reply.option_num == 0 %>
              <!-- reply1_image -->
              <div class="reply_gum out" id="gum_<%= reply.id %>" status="original">
                <div class="reply_gum1_image" style="background-image:url('<%= reply.img_url %>');"></div>
                <span class="reply_username"><%= reply.user_name %> |</span><br><%= reply.content %><br>
                <div style="float:right">
                  <span class="glyphicon glyphicon-heart likeReply" style="cursor:pointer; top:2px" aria-hidden="true" num="<%= reply.id %>"></span> <span id="reply_count_<%= reply.id %>"><%= reply.like_count %></span>
                  <span class="glyphicon glyphicon-remove dislikeReply" style="cursor:pointer; top:2px" aria-hidden="true" num="<%= reply.id %>"></span> <span id="anti_count_<%= reply.id %>"><%= reply.unlike_count %></span>
                </div><br>
              </div>

            <% elsif reply.option_num == 1 %>
              <!-- reply2&4_information/blahblah-->
              <div class="reply_gum out" id="gum_<%= reply.id %>" status="original">
                <div class="reply_gum2">
                  <div class="reply_gum2_text">
                    <span class="reply_username"><%= reply.user_name %> |</span><br><%= reply.content %>
                  </div>
                </div>
                <div style="float:right">
                  <span class="glyphicon glyphicon-heart likeReply" style="cursor:pointer; top:2px" aria-hidden="true" num="<%= reply.id %>"></span> <span id="reply_count_<%= reply.id %>"><%= reply.like_count %></span>
                  <span class="glyphicon glyphicon-remove dislikeReply" style="cursor:pointer; top:2px" aria-hidden="true" num="<%= reply.id %>"></span> <span id="anti_count_<%= reply.id %>"><%= reply.unlike_count %></span>
                </div><br>
              </div>

            <% elsif reply.option_num == 2 %>
              <!-- reply3_link-->
              <div class="reply_gum out" id="gum_<%= reply.id %>" status="original">
                <div class="reply_gum2">
                  <div class="reply_gum2_text">
                    <span class="reply_username"><%= reply.user_name %> |</span><br><%= reply.content %>
                  </div>
                  <a href="<%= reply.link %>"><div class="reply_gum3_link"></div></a>
                </div>
                <!-- <div style="display:inline-block; float:left; cursor:pointer">
                  <span class="glyphicon glyphicon-chevron-right" style="top:2px" aria-hidden="true"></span> go to news
                </div> -->
                <div style="display:inline-block; float:right">
                  <span class="glyphicon glyphicon-heart likeReply" style="cursor:pointer; top:2px" aria-hidden="true" num="<%= reply.id %>"></span> <span id="reply_count_<%= reply.id %>"><%= reply.like_count %></span>
                  <span class="glyphicon glyphicon-remove dislikeReply" style="cursor:pointer; top:2px" aria-hidden="true" num="<%= reply.id %>"></span> <span id="anti_count_<%= reply.id %>"><%= reply.unlike_count %></span>
                </div><br>
              </div>

            <% elsif reply.option_num == 3 %>
              <!-- reply2&4_information/blahblah-->
              <div class="reply_gum out" id="gum_<%= reply.id %>" status="original">
                <div class="reply_gum2">
                  <div class="reply_gum2_text">
                    <span class="reply_username"><%= reply.user_name %> |</span><br><%= reply.content %>
                  </div>
                </div>
                <div style="float:right">
                  <span class="glyphicon glyphicon-heart likeReply" style="cursor:pointer; top:2px" aria-hidden="true" num="<%= reply.id %>"></span> <span id="reply_count_<%= reply.id %>"><%= reply.like_count %></span>
                  <span class="glyphicon glyphicon-remove dislikeReply" style="cursor:pointer; top:2px" aria-hidden="true" num="<%= reply.id %>"></span> <span id="anti_count_<%= reply.id %>"><%= reply.unlike_count %></span>
                </div><br>
              </div>
            <% end %>
          <% end %>

        </div> <!--col-md-4(news)-->
      </div>
    </div>

  </div> <!--col-md-8-->

  <!--for forms-->
  <div class="col-md-2">
    <a class="button_back" href="javascript:history.back()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="top:2px"></span>Back</a><br>
    <!-- Button trigger modal -->
    <div id="button_form">
      <div data-toggle="modal" data-target="#myModal1"><img src="/sources/button/button1_img.png"> image</div>
      <div data-toggle="modal" data-target="#myModal2"><img src="/sources/button/button2_info.png"> information</div>
      <div data-toggle="modal" data-target="#myModal3"><img src="/sources/button/button3_news.png"> news</div>
      <div data-toggle="modal" data-target="#myModal4"><img src="/sources/button/button4_blah2.png"> blahblah</div>
    </div>

    <!-- Modal1 : image form tag ----------------------------->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <!-- <div class="blowing_mark"><img src="/sources/button/button1_img.png"></div> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <div class="blowing_input" style="background:#a4f2ff">

          <div class="" style="text-align:center">
            <h4 class="modal-title" id="myModalLabel1">Modal title</h4>
          </div>

          <form style="text-align:center; margin-top:20px;" action="/reply/create" method="post" enctype="multipart/form-data">
            <div class="input_box">
              <input type="hidden" name="location" class="location_input" value="">
              <textarea type="hidden" name="location_text" id="locationText1" style="display:none"></textarea>
              <input type="hidden" name="post_id" value="<%= @post.id %>">
              <input type="hidden" name="option_num" value="0">
              <input class="input_username" type="text" name="user_name" placeholder="ID" ><br>
              <textarea class="input_text" type="text" name="content" placeholder="TEXT"></textarea><br>
              <!--<input class="input_file" type="file" id="tag_file" accept="image/*" onchange="loadFile(event)">-->
              <%= file_field 'upload', 'datafile', class: "input_file", id: "tag_file" %>
            </div>
            <input class="input_submit" type="submit" value="BLOW">
          </form>
        </div>

      </div>
    </div>
    
    <!-- Modal2 : information form tag ----------------------------->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <!-- <div class="blowing_mark"><img src="/sources/button/button2_info.png"></div> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <div class="blowing_input" style="background:#fff35f">

          <div class="" style="text-align:center">
            <h4 class="modal-title" id="myModalLabel2">Modal title</h4>
          </div>

          <form style="text-align:center; margin-top:20px;" action="/reply/create" method="post" enctype="multipart/form-data">
            <div class="input_box">
              <input type="hidden" name="location" class="location_input" value="">
              <textarea type="hidden" name="location_text" id="locationText2" style="display:none"></textarea>
              <input type="hidden" name="post_id" value="<%= @post.id %>">
              <input type="hidden" name="option_num" value="1">
              <input class="input_username" type="text" name="user_name" placeholder="ID" ><br>
              <textarea class="input_text" type="text" name="content" placeholder="TEXT"></textarea><br>
            </div>
            <input class="input_submit" type="submit" value="BLOW">
          </form>
        </div>
      </div>
    </div>
    
    <!-- Modal3 : news form tag ----------------------------->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <!-- <div class="blowing_mark"><img src="/sources/button/button3_news.png"></div> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <div class="blowing_input" style="background:#c79eff">

          <div class="" style="text-align:center">
            <h4 class="modal-title" id="myModalLabel3">Modal title</h4>
          </div>

          <form style="text-align:center; margin-top:20px;" action="/reply/create" method="post" enctype="multipart/form-data">
            <div class="input_box">
              <input type="hidden" name="location" class="location_input" value="">
              <textarea type="hidden" name="location_text" id="locationText3" style="display:none"></textarea>
              <input type="hidden" name="post_id" value="<%= @post.id %>">
              <input type="hidden" name="option_num" value="2">
              <input class="input_username" type="text" name="user_name" placeholder="ID" ><br>
              <input class="input_username" type="text" name="link" placeholder="Link Address"><br>
              <textarea class="input_text" type="text" name="content" placeholder="TEXT"></textarea><br>
            </div>
            <input class="input_submit" type="submit" value="BLOW">
          </form>
        </div>
      </div>
    </div>

    <!-- Modal4 : blahblah form tag ----------------------------->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <!-- <div class="blowing_mark"><img src="/sources/button/button4_blah2.png"></div> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <div class="blowing_input">

          <div class="" style="text-align:center">
            <h4 class="modal-title" id="myModalLabel4">Modal title</h4>
          </div>

          <form style="text-align:center; margin-top:20px;" action="/reply/create" method="post" enctype="multipart/form-data">
            <div class="input_box">
              <input type="hidden" name="location" class="location_input" value="">
              <textarea type="hidden" name="location_text" id="locationText4" style="display:none"></textarea>
              <input type="hidden" name="post_id" value="<%= @post.id %>">
              <input type="hidden" name="option_num" value="3">
              <input class="input_username" type="text" name="user_name" placeholder="ID" ><br>
              <textarea class="input_text" style="height:190px" type="text" name="content" placeholder="TEXT"></textarea><br>
            </div>
            <input class="input_submit" type="submit" value="BLOW">
          </form>
        </div>
      </div>
    </div>

  </div> <!--col-md-2-->

</div>



<!-- <div class="col-md-12" style="">
    <div class="col-md-2" style="height: 900px; border-right: 1px solid #fff">
        <%#= render partial: '/home/part/profile' %>
    </div>
    <div class="col-md-10">
        <%#= render partial: '/home/part/content' %>
    </div>
</div> -->
