<%= render partial: '/home/part/navbar' %>


<div class="row" style="margin-top:30px">
  <div class="col-md-2" style="text-align:center"> <!-- reporter -->
    <div class="reporter_image">
      <img class="reporter_mark" src="/sources/mark.png"> <!-- 공식기자 인증마크 -->
    </div>
    <!-- <img class="" style="width:100px; height:100px; border:5px solid white; margin:auto; border-radius: 50%;" src="/sources/profile.png"> -->

    <h4><%= @post.reporter_name %> | <%= @post.from %></h4>

  </div>



  <div class="col-md-8"> <!-- news -->

    <div> <!-- title -->
      <h1 style="margin-top:0px;"><%= @post.title %></h1>
      <div style="display:inline-block"><%= @post.written_at %></div>
      <div style="display:inline-block; float:right">조회수 <span id="reply_count">0</span> <a style="cursor:pointer;" class="btn btn-info btn-sm likeReply" num="1">like</a> , 댓글수 <%= @post.replies.count %>, 재구성%</div>
      <input type="hidden" id="userId" value="2">
    </div>


    <br> <br>


    <div> <!-- contents -->
      <div class="row">

        <div class="col-md-4" style="margin:none">
          <div class="article_image" style="background-image:url(<%= @post.img_url %>);"></div>
          <div class="reply_gum">gummmm</div>
        </div>


        <!-- Button trigger modal -->
        <div id="button_form">
          <div class="" data-toggle="modal" data-target="#myModal1">image</div>
          <div class="" data-toggle="modal" data-target="#myModal2">information</div>
          <div class="" data-toggle="modal" data-target="#myModal3">news</div>
          <div class="" data-toggle="modal" data-target="#myModal4">blahblah...</div>
        </div>

        <!-- Modal1 : image form tag ----------------------------->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="blowing_mark">image</div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <div class="blowing_input">

              <div class="" style="text-align:center">
                <h4 class="modal-title" id="myModalLabel1">Modal title</h4>
              </div>

              <form style="text-align:center; margin-top:20px;">
                <div class="input_box">
                  <input class="input_username" type="text" name="Username" placeholder="ID" ><br>
                  <textarea class="input_text" type="text" name="text" placeholder="TEXT"></textarea><br>
                  <input class="input_file" type="file" id="tag_file" accept="image/*" onchange="loadFile(event)">
                </div>
                <input class="input_submit" type="submit" value="BLOW">
              </form>
            </div>
          </div>
        </div>
        <!-- Modal2 : information form tag ----------------------------->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="blowing_mark">information</div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <div class="blowing_input">

              <div class="" style="text-align:center">
                <h4 class="modal-title" id="myModalLabel2">Modal title</h4>
              </div>

              <form style="text-align:center; margin-top:20px;">
                <div class="input_box">
                  <input class="input_username" type="text" name="Username" placeholder="ID" ><br>
                  <textarea class="input_text" type="text" name="text" placeholder="TEXT"></textarea><br>
                </div>
                <input class="input_submit" type="submit" value="BLOW">
              </form>
            </div>
          </div>
        </div>
        <!-- Modal3 : news form tag ----------------------------->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="blowing_mark">news</div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <div class="blowing_input">

              <div class="" style="text-align:center">
                <h4 class="modal-title" id="myModalLabel3">Modal title</h4>
              </div>

              <form style="text-align:center; margin-top:20px;">
                <div class="input_box">
                  <input class="input_username" type="text" name="Username" placeholder="ID" ><br>
                  <input class="input_username" type="text" name="text" placeholder="Link Address"><br>
                  <textarea class="input_text" type="text" name="text" placeholder="TEXT"></textarea><br>
                </div>
                <input class="input_submit" type="submit" value="BLOW">
              </form>
            </div>
          </div>
        </div>
        <!-- Modal4 : blahblah form tag ----------------------------->
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="blowing_mark">blah blah</div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <div class="blowing_input">

              <div class="" style="text-align:center">
                <h4 class="modal-title" id="myModalLabel4">Modal title</h4>
              </div>

              <form style="text-align:center; margin-top:20px;">
                <div class="input_box">
                  <input class="input_username" type="text" name="Username" placeholder="ID" ><br>
                  <textarea class="input_text" style="height:200px" type="text" name="text" placeholder="TEXT"></textarea><br>
                </div>
                <input class="input_submit" type="submit" value="BLOW">
              </form>
            </div>
          </div>
        </div>


        <div class="col-md-8 article_text">
          <%= @post.content.html_safe %>
        </div>


      </div>
    </div>

  </div>
</div>





<!-- <div class="col-md-12" style="">
    <div class="col-md-2" style="height: 900px; border-right: 1px solid #fff">
        <%= render partial: '/home/part/profile' %>
    </div>
    <div class="col-md-10">
        <%= render partial: '/home/part/content' %>
    </div>
</div> -->
