<%= render partial: '/home/part/navbar' %>


<div class="row" style="margin-top:30px">
  <div class="col-md-2" style="text-align:center"> <!-- reporter -->
    <div class="reporter_image">
      <img class="reporter_mark" src="/sources/mark.png"> <!-- 공식기자 인증마크 -->
    </div>
    <!-- <img class="" style="width:100px; height:100px; border:5px solid white; margin:auto; border-radius: 50%;" src="/sources/profile.png"> -->

    <h4><%= @post.reporter_name %> | <%= @post.from %></h4>

  </div> <!--col-md-2-->



  <div class="col-md-8"> <!-- news -->

    <div> <!-- title -->
      <h1 style="margin-top:0px;"><%= @post.title %></h1>
      <div style="display:inline-block"><%= @post.written_at %></div>
      <div style="display:inline-block; float:right">조회수 <span id="reply_count">0</span> <a style="cursor:pointer;" class="btn btn-info btn-sm likeReply" num="1">like</a> , 댓글수 <%= @post.replies.count %>, 재구성%</div>
      <input type="hidden" id="userId" value="2">
    </div>


    <br> <br>


    <div> <!-- contents -->
      <div class="row">

        <div class="col-md-4" style="margin:none">
          <!-- article image-->
          <div class="article_image" style="background-image:url(<%= @post.img_url %>);"></div>

          <% @post.replies.reorder("like_count desc").each do |reply| %>
            <% if reply.option_num == 0 %>
              <!-- reply1_image -->
              <div class="reply_gum" id="gum_<%= reply.id %>" style="display: none;">
                <div class="reply_gum1_image" style="background-image:url('<%= reply.img_url %>');"></div>
                <span class="reply_username"><%= reply.user_name %> |</span><br><%= reply.content %><br>
                <div style="float:right">
                  <span class="glyphicon glyphicon-heart" style="top:2px" aria-hidden="true"></span> <%= reply.like_count %>
                  <span class="glyphicon glyphicon-remove" style="top:2px" aria-hidden="true"></span> <%= reply.unlike_count %>
                </div><br>
              </div>

            <% elsif reply.option_num == 1 %>
              <!-- reply2&4_information/blahblah-->
              <div class="reply_gum" id="gum_<%= reply.id %>" style="display: none;">
                <div class="reply_gum2">
                  <div class="reply_gum2_text">
                    <span class="reply_username"><%= reply.user_name %> |</span><br><%= reply.content %>
                  </div>
                </div>
                <div style="float:right">
                  <span class="glyphicon glyphicon-heart" style="top:2px" aria-hidden="true"></span> <%= reply.like_count %>
                  <span class="glyphicon glyphicon-remove" style="top:2px" aria-hidden="true"></span> <%= reply.unlike_count %>
                </div><br>
              </div>

            <% elsif reply.option_num == 2 %>
              <!-- reply3_link-->
              <div class="reply_gum" id="gum_<%= reply.id %>" style="display: none;">
                <div class="reply_gum2">
                  <div class="reply_gum2_text">
                    <span class="reply_username"><%= reply.user_name %> |</span><br><%= reply.content %>
                  </div>
                  <a href="<%= reply.link %>"><div class="reply_gum3_link"></div></a>
                </div>
                <!-- <div style="display:inline-block; float:left; cursor:pointer">
                  <span class="glyphicon glyphicon-chevron-right" style="top:2px" aria-hidden="true"></span> go to news
                </div> -->
                <div style="display:inline-block; float:right">
                  <span class="glyphicon glyphicon-heart" style="top:2px" aria-hidden="true"></span> <%= reply.like_count %>
                  <span class="glyphicon glyphicon-remove" style="top:2px" aria-hidden="true"></span> <%= reply.unlike_count %>
                </div><br>
              </div>

            <% elsif reply.option_num == 3 %>
              <!-- reply2&4_information/blahblah-->
              <div class="reply_gum" id="gum_<%= reply.id %>" style="display: none;">
                <div class="reply_gum2">
                  <div class="reply_gum2_text">
                    <span class="reply_username"><%= reply.user_name %> |</span><br><%= reply.content %>
                  </div>
                </div>
                <div style="float:right">
                  <span class="glyphicon glyphicon-heart" style="top:2px" aria-hidden="true"></span> <%= reply.like_count %>
                  <span class="glyphicon glyphicon-remove" style="top:2px" aria-hidden="true"></span> <%= reply.unlike_count %>
                </div><br>
              </div>
            <% end %>
          <% end %>

        </div> <!--col-md-4(news)-->

        <div class="col-md-8 article_text">
          <p class="post_content"><%= @post.content_to_split_span_block.html_safe %></p>
        </div>
        <style>
          .ggum_ddak_ji, .ggum_ddak_ji_in{
            background: #aeaeae;
            color: #fff;
            cursor: pointer;
            transition: all .2s;
          }
          .ggum_ddak_ji:hover, .ggum_ddak_ji_in:hover{
            background: #e9e9e9;
            color: blue;
            font-size: 18px;
          }
        </style>

      </div>
    </div>

  </div> <!--col-md-8-->


  <div class="col-md-2">
    <!-- Button trigger modal -->
    <div id="button_form">
      <div class="" data-toggle="modal" data-target="#myModal1">image</div>
      <div class="" data-toggle="modal" data-target="#myModal2">information</div>
      <div class="" data-toggle="modal" data-target="#myModal3">news</div>
      <div class="" data-toggle="modal" data-target="#myModal4">blahblah...</div>
    </div>

    <!-- Modal1 : image form tag ----------------------------->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="blowing_mark">image</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <div class="blowing_input">

          <div class="" style="text-align:center">
            <h4 class="modal-title" id="myModalLabel1">Modal title</h4>
          </div>

          <form style="text-align:center; margin-top:20px;" action="/reply/create" method="post" enctype="multipart/form-data">
            <div class="input_box">
              <input type="hidden" name="location" class="location_input" value="">
              <textarea type="hidden" name="location_text" id="locationText1" style="display:none"></textarea>
              <input type="hidden" name="post_id" value="<%= @post.id %>">
              <input type="hidden" name="option_num" value="0">
              <input class="input_username" type="text" name="user_name" placeholder="ID" ><br>
              <textarea class="input_text" type="text" name="content" placeholder="TEXT"></textarea><br>
              <!--<input class="input_file" type="file" id="tag_file" accept="image/*" onchange="loadFile(event)">-->
              <%= file_field 'upload', 'datafile', class: "input_file", id: "tag_file" %>
            </div>
            <input class="input_submit" type="submit" value="BLOW">
          </form>
        </div>
      </div>
    </div>
    <!-- Modal2 : information form tag ----------------------------->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="blowing_mark">information</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <div class="blowing_input">

          <div class="" style="text-align:center">
            <h4 class="modal-title" id="myModalLabel2">Modal title</h4>
          </div>

          <form style="text-align:center; margin-top:20px;" action="/reply/create" method="post" enctype="multipart/form-data">
            <div class="input_box">
              <input type="hidden" name="location" class="location_input" value="">
              <textarea type="hidden" name="location_text" id="locationText2" style="display:none"></textarea>
              <input type="hidden" name="post_id" value="<%= @post.id %>">
              <input type="hidden" name="option_num" value="1">
              <input class="input_username" type="text" name="user_name" placeholder="ID" ><br>
              <textarea class="input_text" type="text" name="content" placeholder="TEXT"></textarea><br>
            </div>
            <input class="input_submit" type="submit" value="BLOW">
          </form>
        </div>
      </div>
    </div>
    <!-- Modal3 : news form tag ----------------------------->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="blowing_mark">news</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <div class="blowing_input">

          <div class="" style="text-align:center">
            <h4 class="modal-title" id="myModalLabel3">Modal title</h4>
          </div>

          <form style="text-align:center; margin-top:20px;" action="/reply/create" method="post" enctype="multipart/form-data">
            <div class="input_box">
              <input type="hidden" name="location" class="location_input" value="">
              <textarea type="hidden" name="location_text" id="locationText3" style="display:none"></textarea>
              <input type="hidden" name="post_id" value="<%= @post.id %>">
              <input type="hidden" name="option_num" value="2">
              <input class="input_username" type="text" name="user_name" placeholder="ID" ><br>
              <input class="input_username" type="text" name="link" placeholder="Link Address"><br>
              <textarea class="input_text" type="text" name="content" placeholder="TEXT"></textarea><br>
            </div>
            <input class="input_submit" type="submit" value="BLOW">
          </form>
        </div>
      </div>
    </div>
    <!-- Modal4 : blahblah form tag ----------------------------->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="blowing_mark">blah blah</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <div class="blowing_input">

          <div class="" style="text-align:center">
            <h4 class="modal-title" id="myModalLabel4">Modal title</h4>
          </div>

          <form style="text-align:center; margin-top:20px;" action="/reply/create" method="post" enctype="multipart/form-data">
            <div class="input_box">
              <input type="hidden" name="location" class="location_input" value="">
              <textarea type="hidden" name="location_text" id="locationText4" style="display:none"></textarea>
              <input type="hidden" name="post_id" value="<%= @post.id %>">
              <input type="hidden" name="option_num" value="3">
              <input class="input_username" type="text" name="user_name" placeholder="ID" ><br>
              <textarea class="input_text" style="height:200px" type="text" name="content" placeholder="TEXT"></textarea><br>
            </div>
            <input class="input_submit" type="submit" value="BLOW">
          </form>
        </div>
      </div>
    </div>


  </div> <!--col-md-2-->

</div>





<!-- <div class="col-md-12" style="">
    <div class="col-md-2" style="height: 900px; border-right: 1px solid #fff">
        <%#= render partial: '/home/part/profile' %>
    </div>
    <div class="col-md-10">
        <%#= render partial: '/home/part/content' %>
    </div>
</div> -->
