<!DOCTYPE html>
<html>
<head>
  <title>bubble gum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <!------------------------------- Title ICON-------------------------------------->
  <link rel="icon" type="image/png" href="/sources/icon_bubblegum.png" />

  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!-------------------------------CUSTOM CSS--------------------------------------->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= render partial: '/home/part/ajax_reply' %>
</head>

<body>
  <!--<div style="color: #fff; font-size: 17px;">-->
    <%= yield %>
  <!--</div>-->
</body>

</html>
